
<div class="container">
    <table id="myTable" class="table table-bordered table-striped pt-3 text-center" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}