@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2> Welcome back, @User.Identity.Name</h2>
    @{
        string role = "Employee";
        if (User.IsInRole(Util.Role_Admin))
            role = Util.Role_Admin;
        else
            role = Util.Role_Employee;
    }
    <p>Your role is: @role</p>
</div>